<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="http://cdn.simplecss.org/simple.min.css">
        <!-- ICONO DE PESTAÑA -->
        <link rel="icon" href="/imagenes/logoR.png" type="icon/png">
    </head>
    <body>

    <center>

        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container">
                <a class="navbar-brand" href="#">CORIA SERVICIOS</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item">
                            <a class="nav-link active" th:href="@{/}">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" th:if="${session.usuariosession == null}" th:href="@{/login}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" th:href="@{/registrar}">Registro</a>
                        </li> 
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Contacto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" th:href="@{/perfil/__${usuario.id}__}">Perfil</a>
                        </li>

                        <li class="nav-item">
                            <a th:href="@{/logout}" class="nav-link">Cerrar Sesión</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <h1>Modificar Usuario</h1>
<form class="formulario" th:action="@{/perfil/__${usuario.id}__}" method="POST" enctype="multipart/form-data">
    <div class="form-group my-3">
        <h3 class="card-title">Editar Usuario</h3>
    </div>

    <div class="form-group my-3">
        <input type="text" class="form-control" name="nombre" th:value="${usuario.nombre}">
    </div>
    <div class="form-group my-3">
        <input type="text" class="form-control" name="apellido" th:value="${usuario.apellido}">
    </div>

    <div class="form-group my-3">
        <input type="email" class="form-control" name="email" th:value="${usuario.email}">
    </div>
    <div class="form-group my-3">
        <input type="password" class="form-control" name="password" placeholder="PASSWORD">
    </div>
    <div class="form-group my-3">
        <input type="password" class="form-control" name="password2" placeholder="REPETIR PASSWORD">
    </div>
    <div class="form-group my-3">
        <input type="text" class="form-control" name="telefono" th:value="${usuario.telefono}">
    </div>
    <button type="submit" class="btn btn-primary mt-3 botones">Actualizar</button>
</form>


    </center>
    <br>
    <br>
    <footer>
        <div class="containerfooter">
            <p>&copy; 2023 FraNko R. Programador Web Full Stack Developer.</p>
        </div>
    </footer>
</body>
</html>