<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <meta charset="utf-8" />
        <title>Calificacion </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- BOOSTRAP -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- ICONO DE PESTAÑA -->
        <link rel="icon" href="/imagenes/logo.png" type="icon/png"> <!-- CAMBIA EL ICONO DE LA PESTAÑA DE TU PAGINA  --> 
        <!-- Tus estilos personalizados u hojas de estilo adicionales -->
        <link href="/calificacion.css" rel="stylesheet" type="text/css"/>

    </head>

    <body>

        <!-- FRAGMENTS DEL NAVBAR -->
        <nav th:replace="/fragments/navbarLogueado :: nav"></nav>

        <div class="container mt-5">
            <div class="d-flex flex-column text-center mb-5">
                <h1 class="display-4 m-0"><strong>Califica <span class="text-primary"> al proveedor</strong></span></h1>
            </div>

            <div id="infoProveedor"></div>
            <div id="infoTrabajo"></div>

            <form id="calificacionForm">
                <div class="form-group"><span class="arrow">-&gt;</span>
                    <label for="proveedor">Proveedor:</label>
                    <select class="form-control" id="proveedor" name="proveedor" required>
                        <option value="" disabled selected>Selecciona un proveedor</option>
                        <option value="proveedor1">Federico Perez</option> 
                        <option value="proveedor2">Juan Pablo Carballo</option>
                        <option value="proveedor3">Diego Rodrigez</option>
                        <!-- Agrega más opciones según sea necesario -->
                    </select>
                </div>

                <div class="form-group"><span class="arrow">-&gt;</span>
                    <label for="trabajoRealizado">Trabajo Realizado:</label> 
                    <select class="form-control" id="trabajoRealizado" name="trabajoRealizado" required>
                        <option value="" disabled selected>Selecciona un trabajo realizado</option>
                        <option value="trabajo1">Plomero</option>
                        <option value="trabajo2">Gasista</option>
                        <option value="trabajo3">Electricidad</option>
                        <!-- Agrega más opciones según sea necesario -->
                    </select>

                </div>

                <div class="form-group">
                    <label for="comentario">Comentario:</label>
                    <textarea class="form-control" id="comentario" name="comentario" rows="3"></textarea>
                </div>

                <div class="form-group">
                    <!-- Agrega esto al formulario en tu página calificacion.html -->

                    <div class="control-group">
                        <label for="calificacion">Calificación:</label>
                        <div class="testimonial-rating" style="font-size: 40px;">
                            <span class="star" data-rating="1" onclick="rateStar(1)">★</span>
                            <span class="star" data-rating="2" onclick="rateStar(2)">★</span>
                            <span class="star" data-rating="3" onclick="rateStar(3)">★</span>
                            <span class="star" data-rating="4" onclick="rateStar(4)">★</span>
                            <span class="star" data-rating="5" onclick="rateStar(5)">★</span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar Calificación</button>
                </div>
            </form>

        </div>

        <!-- Testimonial Start -->
        <div class="container-fluid p-0 py-5">
            <div class="container p-0 pt-5">
                <div class="d-flex flex-column text-center mb-5">
                    <h1 class="display-4 m-0"><strong>Calificaciones<span class="text-primary"> de nuestros proveedores</strong></span></h1>
                </div>
                <div class="owl-carousel testimonial-carousel">
                    <div class="col-md-3">
                        <div class="testimonial-item">
                            <div class="testimonial-content">
                                <div class="bg-light mx-3 p-4">
                                    <div class="d-flex align-items-end mb-3 mt-n4 ml-n4">
                                        <img class="img-fluid" src="/imagenes/imagen3.jpeg" style="width: 80px; height: 80px;" alt="">
                                        <div class="ml-3">
                                            <h5>Juan Pablo Carballo</h5>
                                            <i>Profesión- Electrisista</i>
                                        </div>
                                    </div>
                                    <p class="m-0">Sed ea amet kasd elitr stet, stet rebum et ipsum est duo elitr eirmod clita lorem. Dolor tempor ipsum sanct clita</p>
                                    <div class="testimonial-rating" style="font-size: 40px;"> <!-- Ajusta el tamaño de las estrellas aquí -->
                                        <i class="fas fa-star" style="color: gold;">★</i>
                                        <i class="fas fa-star" style="color: gold;">★</i>
                                        <i class="fas fa-star" style="color: gold;">★</i>
                                        <i class="fas fa-star" style="color: gold;">★</i>
                                        <i class="fas fa-star" style="color: gold;">★</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="testimonial-item">
                            <div class="testimonial-content">
                                <div class="bg-light mx-3 p-4">
                                    <div class="d-flex align-items-end mb-3 mt-n4 ml-n4">
                                        <img class="img-fluid" src="/imagenes/imagen4.jpeg" style="width: 80px; height: 80px;" alt="">
                                        <div class="ml-3">
                                            <h5>Diego Rodrigez</h5>
                                            <i>Profesión - Gasista</i>
                                        </div>
                                    </div>
                                    <p class="m-0">Sed ea amet kasd elitr stet, stet rebum et ipsum est duo elitr eirmod clita lorem. Dolor tempor ipsum sanct clita</p>
                                    <div class="testimonial-rating" style="font-size: 40px;"> <!-- Ajusta el tamaño de las estrellas aquí -->
                                        <i class="fas fa-star" style="color: gold;">★</i>
                                        <i class="fas fa-star" style="color: gold;">★</i>
                                        <i class="fas fa-star" style="color: gold;">★</i>
                                        <i class="fas fa-star" style="color: gold;">★</i>
                                        <i class="fas fa-star" style="color: gold;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="testimonial-item">
                            <div class="testimonial-content">
                                <div class="bg-light mx-3 p-4">
                                    <div class="d-flex align-items-end mb-3 mt-n4 ml-n4">
                                        <img class="img-fluid" src="/imagenes/imagen5.jpeg" style="width: 80px; height: 80px;" alt="">
                                        <div class="ml-3">
                                            <h5>Federico Perez</h5>
                                            <i>Profesión - Plomero</i>
                                        </div>
                                    </div>
                                    <p class="m-0">Sed ea amet kasd elitr stet, stet rebum et ipsum est duo elitr eirmod clita lorem. Dolor tempor ipsum sanct clita</p>
                                    <div class="testimonial-rating" style="font-size: 40px;"> <!-- Ajusta el tamaño de las estrellas aquí -->
                                        <i class="fas fa-star" style="color: gold;">★</i>
                                        <i class="fas fa-star" style="color: gold;">★</i>
                                        <i class="fas fa-star" style="color: gold;">★</i>
                                        <i class="fas fa-star" style="color: gold;">★</i>
                                        <i class="fas fa-star" style="color: gold;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="testimonial-item">
                            <div class="testimonial-content">
                                <div class="bg-light mx-3 p-4">
                                    <div class="d-flex align-items-end mb-3 mt-n4 ml-n4">
                                        <img class="img-fluid" src="/imagenes/ingeniera2.png" style="width: 80px; height: 80px;" alt="">
                                        <div class="ml-3">
                                            <h5>Susana Mendez</h5>
                                            <i>Profesión - Gasista</i>
                                        </div>
                                    </div>
                                    <p class="m-0">Sed ea amet kasd elitr stet, stet rebum et ipsum est duo elitr eirmod clita lorem. Dolor tempor ipsum sanct clita</p>
                                    <div class="testimonial-rating" style="font-size: 40px;"> <!-- Ajusta el tamaño de las estrellas aquí -->
                                        <i class="fas fa-star" style="color: gold;">★</i>
                                        <i class="fas fa-star" style="color: gold;">★</i>
                                        <i class="fas fa-star" style="color: gold;">★</i>
                                        <i class="fas fa-star" style="color: gold;">★</i>
                                        <i class="fas fa-star" style="color: gold;">★</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Testimonial End -->
        <script>
            function rateStar(rating) {
            // Obtiene todas las estrellas
            var stars = document.querySelectorAll('.star');

            // Itera sobre todas las estrellas
            for (var i = 0; i < stars.length; i++) {
            var star = stars[i];

            // Compara la clasificación de la estrella con la clasificación actual
            if (parseInt(star.getAttribute('data-rating')) <= rating) {
            // Establece el color dorado para las estrellas seleccionadas
            star.style.color = 'gold';
            } else {
            // Restablece el color predeterminado para las estrellas no seleccionadas
            star.style.color = '';
            }
            }
            }
        </script>
        <script>
            $(document).ready(function () {
            $('.testimonial-rating .star').on('mouseover', function () {
            var ratingValue = $(this).attr('data-rating');
            highlightStars(ratingValue);
            });

            $('.testimonial-rating .star').on('mouseout', function () {
            resetStars();
            });

            $('.testimonial-rating .star').on('click', function () {
            var ratingValue = $(this).attr('data-rating');
            $('#calificacion').val(ratingValue);
            });

            function highlightStars(ratingValue) {
            $('.testimonial-rating .star').removeClass('highlight');
            $('.testimonial-rating .star').each(function () {
            var starValue = $(this).attr('data-rating');
            if (starValue <= ratingValue) {
            $(this).addClass('highlight');
            }
            );
            }
            });

            function resetStars() {
            $('.testimonial-rating .star').removeClass('highlight');
            }
            ;
            $(document).ready(function () {
            $('.testimonial-rating .star').on('click', function () {
            var ratingValue = $(this).attr('data-rating');
            $('#calificacion').val(ratingValue);
            highlightAndEnlargeStar($(this));
            });
            function highlightAndEnlargeStar(star) {
            $('.testimonial-rating .star').removeClass('highlight enlarge');
            star.addClass('high

            $(document).ready(function () {
            $('.testimonial-rating .star').on('click', function () {
            var ratingValue = $(this).attr('data-rating');
            $('#calificacion').val(ratingValue);
            highlightAndEnlargeStar($(this));
            });
            function highlightAndEnlargeStar(star) {
            $('.testimonial-rating .star').removeClass('highlight enlarge');
            star.addClass('highlight enlarge');
            }
            })
        </script>


        <!-- Template Javascript-->
        <script src="/js/calificacion.js"></script>

        <!-- FRAGMENTS DEL FOOTER -->
        <div th:replace="/fragments/footer :: div"></div>


        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- Otras dependencias y estilos -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Otros scripts -->


    </body>
</html>