<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Informacion</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- BOOSTRAP -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
        
        <!-- ICONO DE PESTAÑA -->
        <link rel="icon" href="/imagenes/logo.png" type="icon/png"> <!-- CAMBIA EL ICONO DE LA PESTAÑA DE TU PAGINA  --> 
        <!-- Tus estilos personalizados u hojas de estilo adicionales -->
        <link href="/informacion.css" rel="stylesheet" type="text/css"/>

      
    </head>

    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container">
            <a class="navbar-brand" th:href="@{/informacion}">CORIA SERVICIOS</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">


                    <li class="nav-item">
                        <a class="nav-link active" href="#">Contacto</a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link active" th:href="@{'/perfil/' + ${session.usuariosession.id}}">Perfil</a>
                    </li>

                    <li class="nav-item" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                        <a class="nav-link active" th:href="@{/lista}">Lista de Usuarios</a>
                    </li>
                    <!-- sec:authorize=hasRole ('ADMIN') -->
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Buscar</button>
                    </form>
                </ul>
            </div>
        </div>
        <ul class="navbar-nav">
            <li class="nav-item nav-item-cerrar-sesion">
                <a th:href="@{/logout}" class="nav-link">Cerrar Sesión</a>
            </li>
        </ul>
    </nav>


    <div class="container my-5">
        <h1 class="Sunday" align="center">Bienvenido a Coria Servicios!</h1>
    </div>

    <div class="image-container">
        <figure>
            <a href="/servicios/gasista">
                <img src="/imagenes/ingeniero.png" alt="Gasista">
            </a>
            <figcaption><h1>Gasista</h1></figcaption>
        </figure>
        <figure>
            <a href="/servicios/electricista">
                <img src="/imagenes/ingeniero5.png" alt="Electricista">
            </a>
            <figcaption><h1>Electricista</h1></figcaption>
        </figure>
        <figure>
            <a href="/servicios/plomero">
                <img src="/imagenes/ingeniero7.png" alt="Plomero">
            </a>
            <figcaption><h1>Plomero</h1></figcaption>
        </figure>
    </div>


    <br>
    <br>


    <footer class="fixed-bottom">
        <div class="container">
            <p>&copy; 2023 CoriaServicios. Todos los derechos reservados.</p>
        </div>
    </footer>



    <!-- Scripts de Bootstrap y jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>