<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Inicia Sesion</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- BOOSTRAP -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- ICONO DE PESTAÑA -->
        <link rel="icon" href="/imagenes/logo.png" type="icon/png"> <!-- CAMBIA EL ICONO DE LA PESTAÑA DE TU PAGINA  --> 


       <style>
        body {
            background: #FDC830;
            background: -webkit-linear-gradient(to right, #F37335, #FDC830);
            background: linear-gradient(to right, #F37335, #FDC830);
        }

        .formulario-con-borde {
            width: 80%;
            margin: 30% auto;
            border: 2px solid #ccc;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            background-color: white;
        }

        footer {
            background-color: #000000;
            opacity: 0.8;
            color: #fff;
            padding: 15px 0;
            text-align: center;
        }
    </style>

    </head>
    <body>



        <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
            <div class="container">
                <a class="navbar-brand" href="http://localhost:8080/">CORIA SERVICIOS</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item">
                            <a class="nav-link active" th:if="${session.usuariosession == null}" th:href="@{/login}">Login</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Registro
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" th:href="@{/registrar}">Registro Usuario</a>
                                <a class="dropdown-item" th:href="@{/registrarP}">Registro Proveedor</a>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" href="#">Contacto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Perfil</a>
                        </li>

                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Buscar</button>
                        </form>
                    </ul>
                </div>
            </div>
        </nav>

       
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                
                <form class="formulario formulario-con-borde" th:action="@{/logincheck}" method="POST">
                   <fieldset>
                            <div class="mb-2"> <!-- Reduce la distancia superior -->
                                <label for="exampleInputEmail1" class="form-label-left"><h5>Email</h5></label>
                                <input type="email" class="form-control" id="exampleInputEmail1" name="email" placeholder="Ingrese su correo electrónico" required>
                            </div>
                            <div class="mb-2"> <!-- Reduce la distancia superior -->
                                <label for="exampleInputPassword1" class="form-label-left"><h5>Contraseña</h5></label>
                                <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Ingrese su contraseña" required>
                            </div>

                            <div class="mb-2"> <!-- Reduce la distancia superior -->
                                <input type="checkbox" class="form-check-input" id="exampleCheck1"> Recordar
                            </div>

                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-dark mt-2 botones"><strong> INICIAR SESIÓN </strong></button>
                            </div>

                            <br>
                            <!--  <a th:href="@{/registrar}" class="btn btn-outline-success"><strong> DESEAS REGISTRARTE COMO USUARIO INGRESA AQUI </strong></a> -->

                            <a href="">¿Olvidaste tu contraseña?</a>


                        </fieldset>
                    </form>
                </div>

            </div>
        </div>
        <br>

        <!-- -------------------------------------------------------------- -->
        <!-- Alerta de Error -->
        <div th:if="${error}" class="alert alert-danger text-center">
            <p th:text="${error}" class="text-large">Mensaje de error personalizado</p>
        </div>
        <!-- Alerta de Éxito -->
        <div th:if="${mensaje}" class="alert alert-success text-center">
            <p th:text="${mensaje}" class="text-large">Mensaje de éxito personalizado</p>
        </div>



        <footer class="fixed-bottom">
            <div class="container">
                <p>&copy; 2023 CoriaServicios. Todos los derechos reservados.</p>
            </div>
        </footer>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- Otras dependencias y estilos -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Otros scripts -->

    </body>
</html>

